.scrollable-list {
    max-height: 400px;
    overflow-y: auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.research-list {
    list-style-type: none;
    padding: 0;
}

.research-list li {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #e5e7eb;
}

.research-list li:last-child {
    border-bottom: none;
}

/* Scrollbar styling */
.scrollable-list::-webkit-scrollbar {
    width: 6px;
}

.scrollable-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollable-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Container for making the table scrollable */
.table-container {
    max-height: 76rem; /* Adjust the height as needed */
    overflow-y: auto;
}

/* Optional: Custom scrollbar styling */
.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 0.5rem;
}

.table-container::-webkit-scrollbar-track {
    background: transparent;
}


 /* Table styling */
 .inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

